{% extends 'base.html.twig' %}

{% block body %}

	<h2>Dernières nouvelles</h2>

	<article>
		<h3>{{ story.title }}</h3>
		<p>{{ story.dateCreated|date("d-m-Y H:i:s") }}</p>

		<a class="btn btn-danger" href="{{ path("story_delete", {"id":story.id}) }}">
			<span class="glyphicon glyphicon-remove"></span> Effacer cet article</a>

	</article>

{% endblock %}