{% extends 'base.html.twig' %}

{% block body %}

	<h2>Dernières nouvelles</h2>

	<article>
		<h3>{{ story.title }}</h3>
		<p>{{ story.dateCreated|date("d-m-Y H:i:s") }}</p>


		<a href="{{ path("story_delete", {"id":story.id}) }}">Effacer cet article</a>



	</article>

{% endblock %}